# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/feedbackhub/node_modules
/feedbackhub/.pnp
/feedbackhub/.pnp.*
/feedbackhub/.yarn/*
/feedbackhub/.pnpm-store/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/feedbackhub/coverage

# next.js
/feedbackhub/.next/
/feedbackhub/out/

# production
/feedbackhub/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/feedbackhub/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
